{% extends 'bestmenu/base.html' %}

{% load static %}

{% block title %}All Categories{% endblock %}

{% block body_block %}
	<div class="row placeholders">
		<div class="col-xs-12 col-sm-6 placeholder">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">All Categories</h3>
				</div>
			</div>
			{% if categories %}
				<ul class="list-group">
					{% for category in categories %}
						<li class="list-group-item"><a href="{% url 'bestmenu:category' category.slug %}">{{ category.name }}</a> ({{ category.likes }}
						{% if category.likes == 1 %}
							like)
						{% else %}
							likes)
						{% endif %}
						</li>
					{% endfor %}
				</ul>
					{% else %}
						<strong>There are no categories present.</strong>
					{% endif %}
		</div>
	</div>
{% endblock %}
